<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar producto</title>
    <link rel="stylesheet" href="css/form.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
</head>
<body>

    <h3>Agregar Producto</h3>
    <form id="formulario-producto" class="formulario-producto">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required>
      
        <label for="descripcion">Descripción:</label>
        <textarea id="descripcion" name="descripcion"></textarea>
      
        <label for="imagen">Imagen:</label>
        <input type="file" id="imagen" name="imagen">
      
        <label for="precio">Precio:</label>
        <input type="number" id="precio" name="precio" required>
      
        <label for="stock">Stock:</label>
        <input type="number" id="stock" name="stock" required>
      
        <input type="submit" value="Agregar producto">
      </form>
      
      <script>
      $(document).ready(function() {
        $("#formulario-producto").submit(function(e) {
          e.preventDefault(); // Previene que el formulario se envíe automáticamente
      
          var nombre = $("#nombre").val().trim();
          var precio = $("#precio").val();
          var stock = $("#stock").val();
      
          if (nombre == "") {
            alert("Por favor ingresa un nombre válido.");
            return false;
          }
      
          if (isNaN(precio) || precio < 0) {
            alert("Por favor ingresa un precio válido.");
            return false;
          }
      
          if (isNaN(stock) || stock < 0) {
            alert("Por favor ingresa un stock válido.");
            return false;
          }
      
          // Si todas las validaciones pasan, envía el formulario
          this.submit();
        });
      });
      </script>
      
</body>
</html>