<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/estilo.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <!--comienzo del navbar-->
    <nav class="navbar">
        <div class="navbar-left">
          <a class="navbar-brand" href="#">Starla</a>
          <div class="dropdown">
            <button class="dropbtn" onclick="toggleDropdown()">Menú</button>
            <div class="dropdown-content" id="dropdown-menu">
              <a href="#">Home</a>
              <a href="#">Productos</a>
              <a href="#">Reseñas</a>
            </div>
          </div>
        </div>
        <div class="navbar-right">
          <div class="navbar-icons">
            <a href="carrito.html" class="fas fa-shopping-cart"></a>
          </div>
          <form class="container-fluid justify-content-start">
            <button class="btn btn-outline-success me-2 login-btn" type="button">Iniciar sesión</button>
            <button class="btn btn-sm btn-outline-secondary register-btn" type="button">Registrarse</button>
          </form>          
          <div id="clock"></div>
          <div class="navbar-toggle-dark-mode">
            <input type="checkbox" id="dark-mode-toggle" class="dark-mode-toggle">
            <label for="dark-mode-toggle"><i class="fas fa-moon"></i><i class="fas fa-sun"></i></label>
          </div>          
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </nav>
      <!--fin del navbar-->
      <!--comienzo del carousel-->
      <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="imagenes/otros/1.jpg" class="d-block w-100 mx-auto" alt="...">
          </div>
          <div class="carousel-item">
            <img src="imagenes/otros/2.jpg" class="d-block w-100 mx-auto" alt="...">
          </div>
          <div class="carousel-item">
            <img src="imagenes/otros/3.jpg" class="d-block w-100 mx-auto" alt="...">
          </div>
          <div class="carousel-item">
            <img src="imagenes/otros/5.jpg" class="d-block w-100 mx-auto" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      
      
      <!--fin de carousel-->
      <h1></h1>
      <!--grupo de card-->
  <div class="card-group">
    <div class="card">
      <img src="https://gcdn.emol.cl/educacion-para-ninos/files/2012/09/copihue.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Flores nativas</h5>
        <p class="card-text">Flores nativas disponibles para arreglos</p>
        <a href="#" class="btn btn-primary">Ver</a>
      </div>
    </div>
    <div class="card">
      <img src="https://cdn0.ecologiaverde.com/es/posts/5/6/2/flor_de_porcelana_1265_5_600.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Flores exoticas</h5>
        <p class="card-text">Flores exóticas disponibles para arreglos</p>
        <a href="#" class="btn btn-primary">Ver</a>
      </div>
    </div>
    <div class="card">
      <img src="https://s2.glbimg.com/ZxD8lKG_gNS7w057ouSFi3vR180=/0x0:1200x881/924x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_a0b7e59562ef42049f4e191fe476fe7d/internal_photos/bs/2022/d/v/yYHFNsRFaVsjhvy65MMw/flores-de-sol-intenso-especies-de-sol-casa-e-jardim-33-.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Todas las flores</h5>
        <p class="card-text">Todas las flores disponibles para arreglos</p>
        <a href="#" class="btn btn-primary">Ver</a>
      </div>
    </div>
  </div>
  <!--fin de grupo card-->
  <!--imagenes-->
  <!--imagenes-->
  <div class="container text-center mb-5">
    <h2>Galería</h2>
    <div class="row">
      <div class="col-md-4 mb-2">
        <img src="imagenes/otros/4.jpg" class="img-fluid img-thumbnail" alt="...">
      </div>
      <div class="col-md-4  mb-2">
        <img src="imagenes/otros/7.jpg" class="img-fluid img-thumbnail" alt="...">
      </div>
      <div class="col-md-4  mb-2">
        <img src="imagenes/otros/6.jpg" class="img-fluid img-thumbnail" alt="...">
      </div>
    </div>
  </div>
  <!--fin de imagenes-->

  <footer>
    <div class="contenedorFooter">
      <div class="boxFooter">
        <h3>Nuestra empresa</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto possimus assumenda, itaque, voluptas placeat molestias rerum beatae recusandae, blanditiis eligendi qui numquam! Perspiciatis ut quia nesciunt totam doloribus obcaecati nobis.</p>
      </div>
      <div class="boxFooter">
        <h3>Redes sociales</h3>
        <div class="miniBox">
          <img src="imagenes/174855.png" alt="">
          <a href="https://www.instagram.com">
            <h3>Instagram</h3>
          </a>
        </div>
        <div class="miniBox">
          <img src="imagenes/124010.png" alt="">
          <a href="https://www.facebook.com">
            <h3>Facebook</h3>
          </a>
        </div>
      </div>
      <div class="boxFooter">
        <h1>Contacto</h1>
        <div class="box">
          <i class="material-icons">home</i>
          <h3>Av. Vicuña Mackena 1234</h3>
        </div>
        <div class="box">
          <i class="material-icons">email</i>
          <h3>contacto@miweb.cl</h3>
        </div>
      </div>
    </div>
    
    <script src="js/funciones.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
</body>
</html>